<!DOCTYPE html>
<html>
<head>
	<title>嘉定公安智能监控运维派单系统</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<!-- 引入样式文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- 引入 Vue 和 Vant 的 JS 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script>
</head>
<body>
	<header class="home_top_bar" id="app">
		<a class="left_btn" id="menuBtn" @click="show = true"><i class="icon-menu"></i></a>
		<input class="search" type="" name="" placeholder="请输入工单号、设备名称、杆号">
		<a href="" class="search_btn">搜索</a>
		<div class="filter_box">
			<div class="cell">
				<van-field
					readonly
					clickable
					:value="value"
					placeholder="所属镇"
					@click="showPicker = true"
				></van-field>
				
                <i class="icon-arrow_down"></i>
            </div>

			<div class="cell">
				<van-field
					readonly
					clickable
					:value="value2"
					placeholder="工单状态"
					@click="showPicker2 = true"
				></van-field>
				
                <i class="icon-arrow_down"></i>
            </div>

            <van-popup v-model="showPicker" position="bottom">
				<van-picker
					show-toolbar
					:columns="columns"
					@cancel="showPicker = false"
					@confirm="onConfirm"
				/>
			</van-popup>


            <van-popup v-model="showPicker2" position="bottom">
				<van-picker
					show-toolbar
					:columns="columns2"
					@cancel="showPicker2 = false"
					@confirm="onConfirm2"
				/>
			</van-popup>

        </div>


		<!-- 侧边菜单 -->
		<van-popup v-model="show" position="left" class="left_menu" >
			<div class="user_info">
				<div class="user_avatar" style="background-image: url('img/avatar.png')"></div>
				<div class="user_name">王伟</div>
			</div>
			<div class="data_board">
				<div class="item"><span>2</span>待签到</div>
				<div class="item"><span>2</span>待回单</div>
				<div class="item"><span>120</span>已完成</div>
			</div>
			<ul class="menu_list">
				<li><i class="icon-history"></i>历史工单</li>
				<li><i class="icon-settings"></i>修改密码</li>
				<li><i class="icon-yunwei"></i>运维中心</li>
			</ul>

			<div class="logout">
				<van-button type="default">退出登录(jiebao003)</van-button>
			</div>

		</van-popup>


	</header>



	<div class="content_box" id="orderList">
		<div class="item" v-for="item in orderList">
			<div class="titlebox">
				<span class="area">{{item.area}}</span>
				<p class="listTitle">{{item.title}}</p>
			</div>
			<div class="equ_info">
				<span class="equ_tag">{{item.ip}}</span>
				<span class="equ_tag">{{item.error_type}}</span>
				<span class="equ_tag">{{item.equ}}</span>
				<span class="equ_tag">{{item.number}}</span>
			</div>
			<div class="contact">
				{{item.person}} {{item.phone}}
			</div>
			<span class="time">已持续{{item.time}}</span>
			<span class="status">{{item.status}}</span>
		</div> 		 
	</div>   

	<script type="text/javascript" src="js/picker.city.js" ></script>	
	<script type="text/javascript">

		var app = new Vue({
			el: '#orderList',
			data: {
				orderList:[{
					area:'黄渡',
					title:'6306736723黄渡 春意路118弄口 西HGFGGVHJK',
					ip:'15.202.140.172',
					error_type:'摄像头离线',
					equ:'摄像机',
					number:'271',
					time:'10小时3分钟',
					status:'待处理'
				}, {
					area:'黄渡',
					title:'6306736723黄渡 春意路118弄口',
					ip:'15.202.140.172',
					error_type:'摄像头离线',
					equ:'摄像机',
					number:'271',
					person:'张三',
					phone:'18515154675',
					time:'10小时3分钟',
					status:'已指派'
				}, {
					area:'黄渡',
					title:'6306736723黄渡 春意路118弄口',
					ip:'15.202.140.172',
					error_type:'摄像头离线',
					equ:'摄像机',
					number:'271',
					time:'10小时3分钟',
					status:'待处理'
				}, {
					area:'黄渡',
					title:'6306736723黄渡 春意路118弄口',
					ip:'15.202.140.172',
					error_type:'摄像头离线',
					equ:'摄像机',
					number:'271',
					time:'10小时3分钟',
					status:'待处理'
				}, {
					area:'黄渡',
					title:'6306736723黄渡 春意路118弄口',
					ip:'15.202.140.172',
					error_type:'摄像头离线',
					equ:'摄像机',
					number:'271',
					time:'10小时3分钟',
					status:'待处理'
				}]
			}
		});


		new Vue({
			el:'#app',
		  data() {
		    return {
			  show: false,
		      value: '',
		      value2:'',
		      showPicker: false,
		      showPicker2: false,
		      columns: ['全部', '黄渡', '青浦', '嘉兴'],
		      columns2: ['全部','待处理','已分配','已完成','已回单'],
		    }
		  },
		  methods: {
		    onConfirm(value) {
		      this.value = value;
		      this.showPicker = false;
		    },

		    onConfirm2(value){
		      this.value2 = value;
		      this.showPicker2 = false;

		    }
		  }


		});




	</script>	
</body>
</html>